<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- After using the middleware express.static link the CSS file here in index.ejs -->
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <form action="/get-form-data" method="POST">
        <input type="text" placeholder="Enter username" name="username">
        <input type="text" placeholder="Enter email" name="email">
        <input type="password" placeholder="Enter password" name="password">
        <button>Submit form</button>
    </form>
    <!-- After using the middleware express.static link the JS file here in index.ejs -->
    <script src="/assets/index.js"></script>
</body>

</html>